<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed Hub</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <header>
        <h1>RSS Aggregator</h1>
        <!--Action is sending a get request to get an article-->
        <form action="{{url_for('search')}}" method = "GET">
            <input type="text" name="q" placeholder="Search for keyword">
            <button type = "submit">Search</button>
        </form>
    </header>
    {% block content %}{% endblock %}
</body>

</html>